h3.--lefted カラー
p 要修正。purpleとかbrownとか、要るのか？ redやblue、green、orangeは確かに使えるけど
.color-box
  .__Red    .__Red
  .__Orange .__Orange
  .__Yellow .__Yellow
.color-box
  .__Teal   .__Teal
  .__Green  .__Green
  .__Lime   .__Lime
.color-box
  .__Navy   .__Navy
  .__Blue   .__Blue
.color-box
  .__Olive  .__Olive
  .__Brown  .__Brown
.color-box
  .__Purple .__Purple
  .__Violet .__Violet
  .__Pink   .__Pink
.color-box.__mt-10px
  .__Base     .__Base
  .__Main     .__Main
  .__Accent   .__Accent
.color-box
  .__Info   .__Info
  .__Warn   .__Warn
  .__Error  .__Error
.color-box
  .__Ok .__Ok
  .__Ng .__Ng
.color-box
  .__red    .__red
  .__orange .__orange
  .__bg-000.__yellow .__yellow
.color-box
  .__teal   .__teal
  .__green  .__green
  .__bg-000.__lime .__lime
.color-box
  .__navy   .__navy
  .__blue   .__blue
.color-box
  .__olive  .__olive
  .__brown  .__brown
.color-box
  .__purple .__purple
  .__bg-000.__violet  .__violet
  .__bg-000.__pink    .__pink
.color-box.__mt-10px
  .__info   .__info
  .__bg-000.__warn .__warn
  .__error .__error
.color-box
  .__ok .__ok
  .__ng .__ng
.color-box
  .__bg-000.__c-fff .__bg-000
  .__bg-333.__c-fff .__bg-333
  .__bg-666.__c-fff .__bg-666
  .__bg-999.__c-fff .__bg-999
  .__bg-ccc.__c-000 .__bg-ccc
  .__bg-eee.__c-000 .__bg-eee
  .__bg-fff.__c-000 .__bg-fff
.color-box.wh
  .__bg-300.__c-fff .__bg-300
  .__bg-030.__c-fff .__bg-030
  .__bg-003.__c-fff .__bg-003
  .__bg-033.__c-fff .__bg-033
  .__bg-303.__c-fff .__bg-303
  .__bg-330.__c-fff .__bg-330
.color-box.wh
  .__bg-600.__c-fff .__bg-600
  .__bg-060.__c-fff .__bg-060
  .__bg-006.__c-fff .__bg-006
  .__bg-066.__c-fff .__bg-066
  .__bg-606.__c-fff .__bg-606
  .__bg-660.__c-fff .__bg-660
.color-box.wh
  .__bg-900.__c-fff .__bg-900
  .__bg-090.__c-fff .__bg-090
  .__bg-009.__c-fff .__bg-009
  .__bg-099.__c-fff .__bg-099
  .__bg-909.__c-fff .__bg-909
  .__bg-990.__c-fff .__bg-990
.color-box.wh
  .__bg-c00.__c-000 .__bg-c00
  .__bg-0c0.__c-fff .__bg-0c0
  .__bg-00c.__c-fff .__bg-00c
  .__bg-0cc.__c-fff .__bg-0cc
  .__bg-c0c.__c-000 .__bg-c0c
  .__bg-cc0.__c-000 .__bg-cc0
.color-box.wh
  .__bg-f00.__c-000 .__bg-f00
  .__bg-0f0.__c-fff .__bg-0f0
  .__bg-00f.__c-fff .__bg-00f
  .__bg-0ff.__c-fff .__bg-0ff
  .__bg-f0f.__c-000 .__bg-f0f
  .__bg-ff0.__c-000 .__bg-ff0
.color-box.wh
  .__bg-633.__c-fff .__bg-633
  .__bg-363.__c-fff .__bg-363
  .__bg-336.__c-fff .__bg-336
  .__bg-366.__c-fff .__bg-366
  .__bg-636.__c-fff .__bg-636
  .__bg-663.__c-fff .__bg-663
.color-box.wh
  .__bg-933.__c-fff .__bg-933
  .__bg-393.__c-fff .__bg-393
  .__bg-339.__c-fff .__bg-339
  .__bg-399.__c-fff .__bg-399
  .__bg-939.__c-fff .__bg-939
  .__bg-993.__c-fff .__bg-993
.color-box.wh
  .__bg-c33.__c-000 .__bg-c33
  .__bg-3c3.__c-fff .__bg-3c3
  .__bg-33c.__c-fff .__bg-33c
  .__bg-3cc.__c-fff .__bg-3cc
  .__bg-c3c.__c-000 .__bg-c3c
  .__bg-cc3.__c-000 .__bg-cc3
.color-box.wh
  .__bg-f33.__c-000 .__bg-f33
  .__bg-3f3.__c-fff .__bg-3f3
  .__bg-33f.__c-fff .__bg-33f
  .__bg-3ff.__c-fff .__bg-3ff
  .__bg-f3f.__c-000 .__bg-f3f
  .__bg-ff3.__c-000 .__bg-ff3
.color-box.wh
  .__bg-966.__c-fff .__bg-966
  .__bg-696.__c-fff .__bg-696
  .__bg-669.__c-fff .__bg-669
  .__bg-699.__c-fff .__bg-699
  .__bg-969.__c-fff .__bg-969
  .__bg-996.__c-fff .__bg-996
.color-box.wh
  .__bg-c66.__c-000 .__bg-c66
  .__bg-6c6.__c-fff .__bg-6c6
  .__bg-66c.__c-fff .__bg-66c
  .__bg-6cc.__c-fff .__bg-6cc
  .__bg-c6c.__c-000 .__bg-c6c
  .__bg-cc6.__c-000 .__bg-cc6
.color-box.wh
  .__bg-f66.__c-000 .__bg-f66
  .__bg-6f6.__c-fff .__bg-6f6
  .__bg-66f.__c-fff .__bg-66f
  .__bg-6ff.__c-fff .__bg-6ff
  .__bg-f6f.__c-000 .__bg-f6f
  .__bg-ff6.__c-000 .__bg-ff6
.color-box.wh
  .__bg-c99.__c-000 .__bg-c99
  .__bg-9c9.__c-000 .__bg-9c9
  .__bg-99c.__c-fff .__bg-99c
  .__bg-9cc.__c-000 .__bg-9cc
  .__bg-c9c.__c-000 .__bg-c9c
  .__bg-cc9.__c-000 .__bg-cc9
.color-box.wh
  .__bg-f99.__c-000 .__bg-f99
  .__bg-9f9.__c-000 .__bg-9f9
  .__bg-99f.__c-000 .__bg-99f
  .__bg-9ff.__c-000 .__bg-9ff
  .__bg-f9f.__c-000 .__bg-f9f
  .__bg-ff9.__c-000 .__bg-ff9
.color-box.wh
  .__bg-fcc.__c-000 .__bg-fcc
  .__bg-cfc.__c-000 .__bg-cfc
  .__bg-ccf.__c-000 .__bg-ccf
  .__bg-cff.__c-000 .__bg-cff
  .__bg-fcf.__c-000 .__bg-fcf
  .__bg-ffc.__c-000 .__bg-ffc
style.
  .color-box {
    overflow: hidden; /* height用 */
    clear: both;
  }
  .color-box div {
    overflow: auto;   /* height用 */
    float: left;
    margin: 0;
    padding: 0;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
  .color-box.wh > div {
    height: 80px;
    line-height: 80px;
  }
