h3.--lefted フォーム
.form-box
  .__my-sm
    input(type="text")
  .__my-sm
    input._Fas(type="text" placeholder!="&#xf007 アカウント")
  .__my-sm
    input._Fas(type="text" placeholder!="&#xf023 パスワード")
style
  .
    .form-box {
    }

