/* ==============================================
  Forms
// ============================================== */
input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
  box-sizing: border-box
  padding: .8rem
  outline: none
  border: 1px solid #DDD
  border-radius: 3px
  background: #eee
  &:focus
    background: #ffe
  &:invalid
    background: #fee
