/* ==============================================
  fonts
============================================== */

/* size
---------------------------------------------- */
.#{$utils_prefix}xs { font-size: $fonts_xs !important; }
.#{$utils_prefix}sm { font-size: $fonts_sm !important; }
.#{$utils_prefix}md { font-size: $fonts_md !important; }
.#{$utils_prefix}lg { font-size: $fonts_lg !important; }
.#{$utils_prefix}xl { font-size: $fonts_xl !important; }

//for $i from 10 through 20 {
//  .fs#{$i} {
//    font-size:#{$i}px;
//  }
//}

/* weight
---------------------------------------------- */
.#{$utils_prefix}bold   { font-weight: bold; }
.#{$utils_prefix}normal { font-weight: normal; }
.#{$utils_prefix}italic { font-weight: italic; }
