/* ==============================================
  Text
============================================== */
.#{$utils_prefix}center { text-align: center      !important; }
.#{$utils_prefix}right  { text-align: right       !important; }
.#{$utils_prefix}left   { text-align: left        !important; }
