/* ==============================================
  Utils
============================================== */
.{$utils_prefix}ime-off { ime-mode: disabled;   }
.{$utils_prefix}nowrap  { white-space: nowrap;  }

.{$utils_prefix}clearfix:after {
  content:" ";
  display:block;
  clear:both;
}
