h3.--lefted ボタン
.btn-box
  button._Btn .__Btn
  button._Btn.--Black   ._Btn.--Black
.btn-box
  button._Btn.--red     ._Btn.--red
  button._Btn.--Red     ._Btn.--Red
  button._Btn.--blue    ._Btn.--blue
  button._Btn.--Blue    ._Btn.--Blue
  button._Btn.--yellow  ._Btn.--yellow
  button._Btn.--Yellow  ._Btn.--Yellow
  button._Btn.--orange  ._Btn.--orange
  button._Btn.--Orange  ._Btn.--Orange
.btn-box
  button._Btn.--info  ._Btn.--info
  button._Btn.--Info  ._Btn.--Info
  button._Btn.--warn  ._Btn.--warn
  button._Btn.--Warn  ._Btn.--Warn
  button._Btn.--error ._Btn.--error
  button._Btn.--Error ._Btn.--Error
.btn-box
  button._Btn.--ok  ._Btn.--ok
  button._Btn.--Ok  ._Btn.--Ok
  button._Btn.--ng  ._Btn.--ng
  button._Btn.--Ng  ._Btn.--Ng
.btn-box
  a._Btn a._Btn
  a._Btn.--navy でも
  a._Btn.--teal できるよ
.btn-box._lg
  ._Btn div._Btn
  ._Btn.--red でも
  ._Btn.--blue できるよ
style
  .
    .btn-box {
      letter-spacing: -1rem;
      margin: 10px 0;
    }

