h3.--lefted タグ
.tag-box
  span._Tag.__Red Red
  span._Tag.__bg-eee eee
  span._Tag.__Teal Teal
.tag-box
  span._Tag.--radius.__Blue .--radius
  span._Tag.--borderd.__orange .--boarderd

style
  .
    .tag-box {
      margin-bottom: 10px
    }
