/* ==============================================
  Card
// ============================================== */
// https://nippori30.hatenablog.com/entry/2018/05/01/174518

.{compo_prefix}Card
  @extend ._Box
  display: inline-block
  letter-spacing: normal // 隙間対策、親要素にletter-spacing: -1remをつけること
  vertical-align: top

//// 継承サンプル
//.SampleCard
//  @extend .#{$compo_prefix}Card
//  width: 400px
//  > *
//    padding: .7rem 1rem
//  > h4
//    @extend .#{$utils_prefix}Base
//    color: white
//  > p
//    @extend .#{$utils_prefix}base
