._Tag
  box-sizing: border-box
  display: inline-block
  padding: .2rem 1rem
  vertical-align: top
  font-size: .9rem
  &.--radius
    border-radius: .3rem
  &.--borderd
    border: .1rem solid
    padding: .18rem 1rem
