$breakpoints-up ?= {
  'mobile':     'screen and (min-width: ' + $breakpoint_mobile      + ')',
  'phablet':    'screen and (min-width: ' + $breakpoint_phablet     + ')',
  'tablet':     'screen and (min-width: ' + $breakpoint_tablet      + '}',
  'desktop':    'screen and (min-width: ' + $breakpoint_desktop     + ')',
  'desktop-hd': 'screen and (min-width: ' + $breakpoint_desktop-hd  + ')',
}

$breakpoints-down ?= {
  'mobile':     'screen and (max-width: ' + ($breakpoint_mobile - 1px)      + ')',
  'phablet':    'screen and (max-width: ' + ($breakpoint_phablet - 1px)     + ')',
  'tablet':     'screen and (max-width: ' + ($breakpoint_tablet - 1px)      + ')',
  'desktop':    'screen and (max-width: ' + ($breakpoint_desktop - 1px)     + ')',
  'desktop-hd': 'screen and (max-width: ' + ($breakpoint_desktop-hd - 1px)  + ')',
}

$mq-up(size=mobile) {
  @media $breakpoints-up[size] {
    {block}
  }
}
$mq-down(size=desktop-hd) {
  @media $breakpoints-down[size] {
    {block}
  }
}

$mq-only(size=mobile) {
  if size == mobile {
    @media (max-width: $breakpoint_mobile - 1px) { {block} }
  }
  else if size == phablet {
    @media (min-width: $breakpoint_mobile) and (max-width: $breakpoint_phablet - 1px) { {block} }
  }
  else if size == tablet {
    @media (min-width: $breakpoint_tablet) and (max-width: $breakpoint_desktop - 1px) { {block} }
  }
  else if size == desktop {
    @media (min-width: $breakpoint_desktop) and (max-width: $breakpoint_desktop-hd - 1px) { {block} }
  }
  else if size == desktop-hd {
    @media (min-width: $breakpoint_desktop-hd) { {block} }
  }
}

/*
.desktopFast
  width: 1600px       // 想定してる画面サイズ設定（ここではdesktop-hd以上）
  +$mq-down(desktop)  // desktop(1200px程度)
    width: 1200px
  +$mq-down(tablet)   // タブレット用の設定
    width: 800px
  +$mq-down(phablet)  // ファブレット用の設定
    width: 500px
  +$mq-down(mobile)   // モバイル用の設定
    width: 320px
*/

/*
.movileFast
  width: 400px      // 想定している画面サイズ（ここでは通常のスマホ）
  +$mq-up(phablet)  // ファブレット用の設定
    width: 500px
  +$mq-up(tablet)   // タブレット用の設定
    width: 800px
  +$mq-up(desktop)  // デスクトップ以上
    width: 1200px
*/
