$compo_prefix = "_"
$utils_prefix = "__"
$modif_prefix = "--"

// ===============================================
//  breakpoint
// ===============================================
$breakpoint_mobile      = 400px
$breakpoint_phablet     = 600px
$breakpoint_tablet      = 900px
$breakpoint_desktop     = 1200px
$breakpoint_desktop-hd  = 1800px

// ===============================================
//  colors
//  https=//clrs.cc/
// ===============================================
$red    = #f33
$orange = #F83
$yellow = #fd0
$olive  = #880
$green  = #3C6
$lime   = #0f0
$teal   = #399
$blue   = #66C
$navy   = #036
$violet = #e9e
$purple = #909
$pink   = #f99
$brown  = #a22

//  site colors
// -----------------------------------------------
$color-bg     = $navy
$color-main   = #66c
$color-accent = $orange

//  message colors
// -----------------------------------------------
$color-info   = $blue
$color-warn   = $yellow
$color-error  = $red
$color-ok     = $teal
$color-ng     = $pink

// ===============================================
//  Cards
// ===============================================
//card_head_color= white
//card_head_bg   = black
//card_body_color= black


// ===============================================
//  box model
// ===============================================
//box_model_xs = .75rem
//box_model_sm = 1.5rem
//box_model_md = 3rem
//box_model_lg = 4.5rem
//box_model_xl = 6rem
$box_model_xs = .4rem
$box_model_sm = .7rem
$box_model_md = 1rem
$box_model_lg = 1.6rem
$box_model_xl = 2.2rem

// ===============================================
//  fonts
// ===============================================
$fonts_xs = .6rem
$fonts_sm = .8rem
$fonts_md = 1rem
$fonts_lg = 1.4rem
$fonts_xl = 1.8rem
