// 200KBぐらいまでならOKとする

/*! foundation */
a {
  text-decoration: none;
  color: inherit;
}

// _valiables
@import "_variables"
//@import "_funcs"

/*! utils */
@import "utils/_visual_formatting_model"
@import "utils/_box_model"
@import "utils/_text"
@import "utils/_fonts"
@import "utils/_colors"
@import "utils/_utils"

/*! elems */
@import "elems/_headline"
@import "elems/_list"
@import "elems/_form"
@import "elems/_pre"

/*! compo */
@import "compo/_box"
@import "compo/_cards"
@import "compo/_buttons"
@import "compo/_icons"
@import "compo/_table"
@import "compo/_tags"
